@page "/"
@using BlazorgramDemo.Data
@using BlazorgramDemo.Models


@if (posts == null)
{
    <MatProgressBar Indeterminate="true"></MatProgressBar>
}
else
{
    <div class="grid-container">
        @foreach (var post in posts)
        {
            @if (post.Id > 0)
            {
                <div class="grid-item">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <BlazorgramGrid Post="@post" />
                        </MatCardContent>
                    </MatCard>
                </div>
            }
        }
    </div>
}

@code {
    Post[] posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await PostService.GetDataFromTheAmazingStaticServer();
    }
}